.header{
    padding: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.navbar_list{
    display: flex;
    gap: 5rem;
    list-style: none;
    font-size: 1.3rem;
}
.list_item a{
    text-decoration: none;
    color: white;
}
.active{
    border-bottom: 2px solid rgb(197, 127, 35);
    transform: scale(1.1);
    transition: border-bottom 0.3s ease,color 0.3s ease,transform 0.3s ease;
}