
<div class="contenido_principal">
  <div class="contenido_inicio">
    <div class="bienvenido_inicio">
      <h1>Bienvenido a Mundo Gamer Compra tu <span>juego</span> favorito aqui</h1>
      <p>La parada obligatoria para todo fanático de las consolas y el PC. Información real, hecha por jugadores para jugadores.
        Mantente al día con nuestro top de juegos destacados y descubre tu próxima gran aventura.
      </p>
    </div>
  </div>
  <div class="juego_populares">
    <h2>Juegos mas populares</h2>
    <div class="caja_contenido">
      @for(juego of juegos; track $index){
        <div class="cajas_juegos">
          <img src="{{juego.portada}}" alt="{{juego.portada}}">
          <div>
            <h3>{{juego.titulo}}</h3>
            <div class="comprar">
              <p>${{juego.precio}}</p>
              <a href="">Comprar</a>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
<app-footer></app-footer>