
<div class="contenido_principal">
  <div class="contenido_inicio">
    <div class="bienvenido_inicio">
      <h1>Bienvenido a Mundo Gamer Compra tu <span>juego</span> favorito aqui</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vero consequatur pariatur facilis fuga dolorem officia vitae molestias quis. Qui accusantium fuga, delectus asperiores sapiente rerum ipsa reiciendis cupiditate expedita!</p>
    </div>
  </div>
  <div class="juego_populares">
    <h2>Juegos mas populares</h2>
    <div class="caja_contenido">
      @for(juego of juegos; track $index){
        <div class="cajas_juegos">
          <img src="{{juego.portada}}" alt="{{juego.portada}}">
          <div>
            <h3>{{juego.titulo}}</h3>
            <div class="comprar">
              <p>$500</p>
              <a href="">Comprar</a>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
<app-footer></app-footer>